# Virtual environment
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Node / Frontend Cache
frontend/node_modules/
frontend/dist/
node_modules/
dist/

# Databases
*.db
*.db-journal
*.db-shm
*.db-wal

# OS files
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

# IDE files
.vscode/
.idea/

# Gemini configs / cache
.gemini/
.agents/
